@CHARSET "ISO-8859-1";

.banniere {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 200px;
}


.flex {
	displ1ay: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff2e6;
	
	
}
h1 {
	font-size: 60px;
}

.tableaux {
	display: flex;
	flex-direction: row;
	
}

.middle{
	width:5%;
	height: 800px;
	padding-right: 60px;
	
}

.bordure_verticale {
height:600px;
padding-right: 60px;
border-right: 1px solid #009999;
}

